#elipses{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}

.imagem-paciente{
  width: 50px;
  height: 50px;
}

.item-apagado{
  text-decoration: line-through;
}

#check{
  width: 20px;
  height: 20px;
  margin-left: 20px;
  margin-top: 20px;
}
